
.container {
  padding: 0;
}

.alert {
  position: fixed;
  top: 20px;
  background-color: white;
  color: rgba(76, 175, 80, 1);
  border: 1px solid rgba(76, 175, 80, 1);
  width: 344px;
  height: 80px;
  z-index: 10;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0;
}

span {
  text-align: center;
  font-size: 16px;
}

.col-2 {
  display: flex;
  align-items: center;
}

.check {
  margin-left: 16px;
}

.close {
  margin-right: 16px;
}




