.alert {
  position: fixed;
  top: 20px;
  background-color: white;
  color: rgba(76, 175, 80, 1);
  border: 1px solid rgba(76, 175, 80, 1);
  width: 344px;
  height: 80px;
  z-index: 10;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 16px;
}

span {
  text-align: center;
  font-size: 16px;
}
