.menu-item:hover {
  color: rgba(63, 81, 181, 1);
}

.menu-item {
  color: rgba(0, 0, 0, 0.6);
}

p {
  margin-bottom: 3.5px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

mat-icon {
  font-size: 20px;
}
