<h4 class="login">Login</h4>
<form [formGroup]="signinForm" (ngSubmit)="onSignin()">
  <div class="form-container">
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        formControlName="username"
        placeholder="Username"
        class="form-control"
      />

      <small
        class="text-danger"
        *ngIf="username.touched && form['username'].errors?.['required']"
      >
        Username is required!
      </small>
    </div>

    <div>
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
        class="form-control"
      />
      <small
        class="text-danger"
        *ngIf="password.touched && form['password'].errors?.['pattern']"
        >Password must contain letters and numbers!</small
      >
    </div>
  </div>

  <div class="text-center mt-2">
    <button type="submit" class="btn btn-primary" [disabled]="signinForm.invalid">
      Login
    </button>
  </div>
  <small>No account yet? Register</small>
</form>
