::ng-deep.carousel-indicators [data-bs-target] {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 20px;
}
::ng-deep div.carousel-indicators {
  background-color: rgb(33, 33, 91);
  margin: 0;
  height: 50px;
  align-items: center;
}

::ng-deep button.carousel-control-next,
::ng-deep button.carousel-control-prev {
  display: none;
}

::ng-deep button.active {
  border: 4px solid rgba(255, 255, 255, 0.18) !important;
}

div.bottom {
  position: fixed;
  bottom: 0;
}

.container {
  text-align: center;
  padding: 0;
  max-width: 375px;
  padding-left: 15px;
  padding-right: 17px;
}

h1 {
  margin-top: 69px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  top: 10px;
  width: 225px;
  height: 16px;
  margin-bottom: 34px;
}

.row {
  padding: 0;
}

div[class^="col-"] {
  padding: 0;
}

.left-col {
  padding-right: 8px !important;
}

.right-col {
  padding-left: 8px !important;
}
